@{
    ViewBag.Title = "Container Management System";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <img src="img/bg1.jpg" class="img-responsive" alt="Responsive image" style="width: 100%">
    <br>
    <p class="lead"><b>Maersk Line</b> is the global container division and the largest operating unit of the A.P. Moller – Maersk Group, a Danish business conglomerate. It is the world's largest container shipping company having customers through 374 offices in 116 countries. It employs approximately 7,000 sea farers and approximately 25,000 land-based people. Maersk Line operates over 600 vessels and has a capacity of 2.6 million TEU. The company was founded in 1928. </p>
    <p><a class="btn btn-default" href="/Home/About">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="w3-btn w3-white w3-ripple" style="margin:0;padding:0" onclick="location.href='/ShipDocks'">
            <img src="img/dock.jpg" style="width:100%">
            <p><br>Ship Dock &raquo;</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="w3-btn w3-white w3-ripple" style="margin:0;padding:0" onclick="location.href='/Ships'">
            <img src="img/ship.jpg" style="width:100%">
            <p><br>Ship &raquo;</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="w3-btn w3-white w3-ripple" style="margin:0;padding:0" onclick="location.href='/Containers'">
            <img src="img/container.jpg" style="width:100%">
            <p><br>Container &raquo;</p>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-4">
        <div class="w3-btn w3-white w3-ripple" style="margin:0;padding:0" onclick="location.href='/Bookings'">
            <img src="img/booking.png" style="width:100%">
            <p><br>Booking &raquo;</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="w3-btn w3-white w3-ripple" style="margin:0;padding:0" onclick="location.href='/BookingContainers'">
            <img src="img/booking-container.jpg" style="width:100%">
            <p><br>Booking Container &raquo;</p>
        </div>
    </div>
</div>