<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0d252f78-6e4b-4043-86f3-e47b7bdc244c/resourceGroups/RGCMS/providers/Microsoft.Web/sites/cmsjasonlowjs</ResourceId>
    <ResourceGroup>RGCMS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cmsjasonlowjs.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cmsjasonlowjs.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>cmsjasonlowjs</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$cmsjasonlowjs</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <EnableADPublish>true</EnableADPublish>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DDAC.Models.ApplicationDbContext, DDAC" MigrationConfiguration="DDAC.Migrations.Configuration, DDAC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADDomain>jasonlowjslive.onmicrosoft.com</ADDomain>
    <ADAppIDUri>https://jasonlowjslive.onmicrosoft.com/WebApp-cmsjasonlowjs.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <ADClientAPPID>2cacdcf4-6714-445b-99ce-d53a303736f1</ADClientAPPID>
    <ADClientPassword>W6/5XMUeZ5Z/5TUiyQ0aa2X4a2w1CNpL42FhD1W6iis=</ADClientPassword>
    <ADReplyUrl>https://cmsjasonlowjs.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>23bb4359-1a66-4d12-af97-9630afcae580</ADTenantId>
    <ADPostLogoutRedirectUri>https://cmsjasonlowjs.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
  </ItemGroup>
</Project>